* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  width: 100vw;
}

.header {
  grid-column: span 5 / span 5;
  background-color: lightblue;
  grid-row-start: 1;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
}

.main {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-row-start: 2;
  background-color: lightcoral;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
}

.nav {
  grid-row: span 5 / span 5;
  grid-row-start: 2;
  background-color: lightgreen;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
}

.side {
  grid-row: span 5 / span 5;
  grid-column-start: 5;
  grid-row-start: 2;
  background-color: lightgoldenrodyellow;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
}

.footer {
  grid-column: span 5 / span 5;
  grid-row-start: 7;
  background-color: lightgray;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
}
/* IPad Pro*/
@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .header {
    grid-column: span 4 / span 4;
  }

  .main {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 4;
  }

  .nav {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
  }

  .side {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
  }

  .footer {
    grid-column: span 4 / span 4;
    grid-row-start: 8;
  }
  /* Mobile */
  @media screen and (max-width: 600px) {
    body {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }

    .header {
      grid-column: span 1 / span 1;
    }

    .main {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
      grid-row-start: 3;
    }

    .nav {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
      grid-row-start: 2;
    }

    .side {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
      grid-row-start: 4;
    }

    .footer {
      grid-column: span 1 / span 1;
      grid-row-start: 5;
    }
  }
}
